<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título que será exibido na janela -->
    <title>Cadastro de clientes</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container button">
        <img src="../public/img/clientes.png" alt="clientes" title="Cadastro de clientes" class="cliente" onclick="client()">     
        <img src="../public/img/impressora_dtf.png" alt="impressora_dtf" title="Orden de serviço" class="servico" onclick="servico()">   
    </div>

    <a href="#" class="banner-canto">
        <img src="../public/img/banner_dtf.png" alt="Promoção DTF" style="width: 100%; display: block;">
    </a>
    
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="dbicon" id="statusdb">
    </footer>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Scripts -->
    <script src="../public/js/script.js"></script>
    <!-- Renderizador -->
    <script src="renderer.js"></script>
</body>

</html>